html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

h1 {
  font-size: 1.25em;
  font-weight: normal;
  font-family: sans-serif;
}

main {
  padding: 10px;
}

main, footer {
  min-width: 300px;
}

footer {
  padding: 5px;
  background-color: rgb(220, 220, 220);
}

.links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.links li {
  text-decoration: none;
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}