.rch-picker {
  display: flex;
  padding: 10px;
}

.rch-suggestion {
  display: flex;
  flex-wrap: wrap;
}

.rch-suggestion__button {
  margin: 3px 10px;
  padding: 0 5px;
}

.rch-suggestion__button:disabled {
  font-weight: bold;
  border: 1px solid black;
}